.delete-task button {
    padding: 12px 24px;
    background-color: #e2e6ea;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.delete-task button:hover {
    background-color: #6a11cf;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.delete-task button:active {
    background-color: #6a11cf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

.delete-task button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(106, 17, 203, 0.4);
}
