.signup-container {
	text-align: center;
	max-width: 400px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
	background-color: #e2e6ea;
	color: black;
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #6a11cf;
}

.error {
	color: red;
	font-size: 0.9em;
}
